body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}
* {
  box-sizing: border-box;
}
/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}
/* END HEADER */

/* HOME PAGE */
.content{
  align-self: center;
}
.main{
  font-family: 'Oxygen', sans-serif;
  text-align: center;
  color:#f6b319;
}

/* END HOME PAGE */

/********** Large devices only **********/
  @media (min-width: 1200px) {
   .col-lg-12 {
    margin: 10px;
    margin-right: 120px;
    position: relative;
    background-color: #CD5C5C;
    border: 1px solid black;
    padding: 10px;
  
}
  
}

